/* ────────────────────────────────────────────────────────────
 * Custom Theme for SwayOSD
 * Made with Omarchist
 * ────────────────────────────────────────────────────────────
 */

@define-color background-color #000000;
@define-color border-color #ff0000;
@define-color label #ffffff;
@define-color image #ff0000;
@define-color progress #ff0000;
