/* ────────────────────────────────────────────────────────────
 * Custom Theme for Walker
 * Made with Omarchist
 * ────────────────────────────────────────────────────────────
 */

@define-color selected-text #ff0000;
@define-color text #ffffff;
@define-color base #000000;
@define-color border #ff0000;
@define-color foreground #ffffff;
@define-color background #000000;

@define-color hover #ff0000;


window .search-container,
window .search {
  background: alpha(@hover, 0.3);
  color: @foreground;
  border: 1px solid alpha(@border, 0.5);
  border-radius: 12px;
  padding: 8px 12px;
  margin: 4px 0;
  font-size: 14px;
  font-weight: 500;
}
